<div id="homeContainer">
  <div class="whiteBorderGlassBox">
    <div class="homeHeadContainer">
      <div class="row">
        <div class="col-md-auto p-0">
          <div class="avatarFrameOnline">
            <img src="assets/img/generic_avatar.png" id="homeAvatarPicture">
          </div>          
        </div>
        <div class="col">
          <b>Eduardo</b>
          <div>
            <span>Online</span>
            <br>
            <span> --Escribe un mensaje Personal --</span>
            <br>
            <button type="button" class="btn btn-secondary" (click)="logOut()">Log Out</button>
          </div>         
        </div>
      </div>
    </div>
  </div>

  <div class="whiteContainerPadded mt-15">
    <div class="row">
      <div class="col">
          <input type="text"class="form-control" placeholder="Buscar Amigo" [(ngModel)]="query">
      </div>
      <div class="col-md-auto">
        <img src="assets/img/logo_live_add.png" alt="" class="icon">
      </div>
    </div>
    
   
    <hr />
    <b *ngIf = "friends">Amigos ({{friends.length}}/{{friends.length}})</b>
    <div *ngFor = "let user of friends | search: query; let i = index" class="disblo mb-1">
      
        <span [routerLink]="['/conversation', user.uid]">
          <img class="icon" src="assets/img/logo_live_online.png" alt="Estatus"/>
          <b>{{user.nick}}</b> - {{user.subnick || 'No Subnick'}}
          <small>{{user.email}}</small>
        </span>
       
    </div>

  </div> 
</div>



